/* Début du média queries */

@media screen and (max-width: 768px)
{
    /* Réglages de la marge d'intérieur de la barre de recherche et des filtres */

    .barre, .filtres {
        padding: 0 20px;
    }

    .info
    {
        padding: 0 20px 40px 20px;
    }

    .button-text{
        display:none;
    }

    .search{
        display: block;
        margin-left: -25px;
        border-radius: 12px;
        width: 40px;
    }

    .recherche{
        display: flex;
        align-items: center;
    }

    .fa-map-marker-alt{
        padding: 4px 4px 4px 4px;
        margin: 0;
        font-size: 16px;
    }

    .fa-search{
        padding: 3px 0;
        margin: 0;
        font-size: 14px;
    }

    form input{
        border: 2px solid #F2F2F2;
        padding: 10px 70px 10px 0;
        font-size: 16px;
    }


    .filtres h2{
        margin: 15px 0 15px 0;
    }

    .global-categorie{
        display:flex;
        flex-wrap:wrap;
    }

    .categorie{
        margin-bottom: 14px;
    }

    /* réglage du header */

    header img{
        margin: 15px 0 0 20px;
    }

    ul.flex li:first-child a, ul.flex li:nth-child(2){
        width: 100%;
        text-align: center;
    }

    ul.flex li:first-child a, ul.flex li:nth-child(2):hover{
        border-bottom: 3px #0065FC solid;
        padding-bottom: 10px;
    }

    ul.flex li:first-child a{
        border-top: none;
        border-bottom: 3px #0065FC solid;
        padding-bottom: 10px;
        padding-left: 40px;
        color: #0065FC;
    }

    ul.flex li:nth-child(2){
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 10px;
    }

    .flex li:nth-child(2) a:hover{
        border-top: none;
      }

      /* Réglages des sections */

      .blanc{
          margin: 13px 0 13px 0px;
      }

   .global{
       flex-direction: column;
       padding: 0;
   }

   .hebergement{
       order: 2;
       width: 100%;
       background-color: white;
   }

   .color{
       width: 100%;
       margin: 0 0 20px 0;
   }

   .cote{
       width: 100%;
       order: 1;
   }

   .bloc:first-child{
    padding: 0 20px 0 20px;
    }
    
   .activite{
       flex-direction: column;
       justify-content: space-around;
   }
   
   .act_photo{
       width: 100%;
       margin: 0 0 20px 0;
   }

   .taille1,.taille2,.taille3,.taille5,.taille6{
       height: 120px;
   } 

   header{
       flex-direction: column;
   }

   .flex li:nth-child(3){
    position: absolute;
    text-align: end;
    top: 30px;
    right: 0;
    }

    footer{
        flex-direction: column;
    }

    .hebergement{
        margin: 0;
    }

    #marseille{
        padding: 50px 0 20px 22px;
    }
}
/* Fin du média queries */