body{
    margin: 0;
}

header{
    font-family: Raleway;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 400px;
    margin-right: 60px;
}

footer{
    font-family: Raleway;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    width: 1534px;
    width: 100%;
}

a:hover{
    border-top: 2px #0065FC solid;
    padding-top: 28px;
}
 
li a{
    text-decoration: none;
}

img{
    padding: 30px;
    height: 40px;
}

ul.flex li:nth-child(2) a{
    color: black;
}

ul.flex li:first-child a{
    border-top: 2px #0065FC solid;
    padding-top: 28px;
}

.barre{
    display: flex;
    flex-direction: column;
    margin: 30px;
}


.boutton{
    color:#ffff;
    background-color: #0065FC;
    font-size: 22px
}

.recherche{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

input{
    font-size: 20px;
    border: 2px #F2F2F2 solid;
}

.boutton{
    border: 10px #0065FC solid;
    border-radius: 0px 10px 10px 0px;
}

form i{
    background-color: #F2F2F2;
    border: 10px #F2F2F2 solid;
    border-radius: 10px 0px 0px 10px;
    font-size: 22px;
}

input::-webkit-input-placeholder{
    color: black;
}

 span i{
    color: #0065FC;
    background-color: #F2F2F2;
    border: 10px #F2F2F2 solid;
    border-radius: 60px;   
}

span:hover{
    color:#0065FC;
}

#emote{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#emote h2{
    margin-right: 30px;
    margin-left: 30px;
}

#emote span{
    font-weight: bold;
    border: 2px #F2F2F2 solid;
    border-radius: 60px;
    margin-right: 150px;
}

.info{
    margin-left: 30px;
}

