body{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

.flex{
    list-style: none;
    display: flex;
    margin-top: 30px;
}

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}

a:hover{
    border-top: 2px #0065FC solid;
}
 
li a{
    text-decoration: none;
    padding: 28px 30px 0 30px;
    transition: .3s;
}

header img{
    padding: 30px 0;
    height: 40px;
}


ul.flex li:nth-child(2) a{
    color: black;
}

ul.flex li:first-child a{
    border-top: 2px #0065FC solid;
    padding-top: 28px;
}

.barre{
    display: flex;
    flex-direction: column;
}

.boutton{
    color:#ffff;
    background-color: #0065FC;
    font-size: 22px
}

.recherche{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

input{
    font-size: 20px;
    border: 2px #F2F2F2 solid;
}

.boutton{
    border: 10px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
}

form i{
    background-color: #F2F2F2;
    border: 10px #F2F2F2 solid;
    border-radius: 15px 0px 0px 15px;
    font-size: 22px;
}

input::-webkit-input-placeholder{
    color: black;
}

.categorie{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 14px;
    transform: scale(1);
}

.categorie:hover{
    transform: scale(1.04);
}
.categorie_icon{
    color: #0065FC;
    background-color: #F2F2F2;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: -2px;
}

.categorie_title{
    margin: 0 16px;
    font-size: 16px;
}

.info{
    display: flex;
    align-items: center;
}

.info_icone{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50px; 
    margin-right: 14px; 
}

h1{
    margin-bottom: 0px;
}

.filtres{
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtres h2{
    margin: 0 20px 0 0;
    font-size: 16px;
}

.hebergement{
    border-radius: 10px;
    background-color:#F2F2F2;
    width: 70%;
    margin-bottom: 20px;
    margin: 0;
    padding: 0 40px;
}

section img{
    border-radius: 14px 14px 0px 0px;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.container{
    width: 1200px;
    margin: auto;
}

.chambre{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.color{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin: 0 40px 40px 0;
    width: calc(33% - 40px);
    transform: scale(1);
    transition: .3s;
}

.color:hover{
    transform: scale(1.08);
}

.color:nth-child(3), .color:nth-child(6){
    margin-right: 0;
}


.color h3{
    font-size: 14px;
    margin: 0;
}

.color_texte{
    margin-left: 10px;
}

.bas{
    margin-bottom: 50px;
    margin-left: 0px;
    font-weight: 900;
}

.color p{
    font-size: 12px;
    margin: 5px 0;
}

.color i{
    color: #0065FC;
}

.cote{
    border-radius: 20px;
    background-color:#F2F2F2;
    width: 30%;
    margin-left: 60px;
}

.taille{
    border-radius: 20px;
    object-fit: cover;
    height: 180px;
    width: 120px;
}

.global{
    display: flex;
    width: 100%;
}

.carte{
    background-color: white;
    display: flex;
}

.non i {
    color: #F2F2F2 ;
}