/* Corps de la page web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    margin: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}
/* Fin de la corps de page */

/* En tête du site web */
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    list-style: none;
    display: flex;
    margin-top: 25px;
}

header a:hover{
    border-top: 2px #0065FC solid;
    padding-top: 23px;
    cursor: pointer;
}
 
li a{
    text-decoration: none;
    padding: 34px;
    transition: .3s;
}

header img{
    height: 40px;
    width: 90px;
    margin-top: 40px;
    object-fit: cover;
}

.flex li:nth-child(2) a{
    color: black;
}

ul.flex li:first-child a{
    border-top: 2px #0065FC solid;
    padding-top: 23px;
    color: #0065FC;
}

ul.flex li:first-child a:hover{
    color: #0065FC;
}

ul.flex li:nth-child(2) a:hover{
    color:#0065FC;
}

ul.flex li:nth-child(3) a{
    color: #0065FC;
}
/* Fin de l'en tête de la page web */

/* Début du pied de la page */
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

footer h3{
    padding: 10px 0;
}

footer p{
    transform: scale(1);
    transition: .3s;
    padding: 10px 0;
}

footer p a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p a:hover{
    border-top: none;
    color:#0065FC;
}
/* Fin du footer */

/* Barre de recherche et information complémentaires */
.barre{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.filtres{
    flex-direction: row;
}

.global-categorie{
    display: flex;
    flex-direction: row;
}

.button-text{
    display:block;
}

.search{
    display:none;
}

.barre p{
    padding: 10px 4px 30px 0;
}

.boutton{
    color:#ffff;
    background-color: #0065FC;
    font-size: 18px;
    border: 10px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
}

.recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-map-marker-alt{
    background-color: #F2F2F2 ;
    border: 10px  #F2F2F2 solid;
    border-radius: 15px  0px  0px  15px;
    padding: 2px 5px 2px 5px;
}

input{
    font-size: 14px;
    border: 2px #F2F2F2 solid;
    padding: 10px 0 10px 0;
}

form i{
    border-radius: 15px 0px 0px 15px;
    font-size: 22px;
}

input::-webkit-input-placeholder{
    font-weight: bold;
    color: black;
    padding-left: 15px;
}

.barre h1{
    font-weight: bold;
}

.filtres{
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.filtres h2{
    margin: 0 20px 0 0;
    font-size: 16px;
}

.bas{
    font-weight: bold;
}

.fa-info{
    font-size: 14px;
}

.fa-map-marker-alt{
    font-size: 18px;
}
/* Fin de la barre de recherche et des informations complémentaires */

/* Début des Hébergements à Marseille */

a{
    text-decoration: none;
    color: black;
}

.categorie{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    margin-right: 14px;
    transform: scale(1);
}

.categorie:hover{
    transform: scale(1.04);
}

.categorie_icon{
    color: #0065FC;
    background-color: #DEEBFF;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: -2px;
}

.categorie_title{
    margin: 0 15px;
    font-size: 16px;
}

.info{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.info_icone{
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50px; 
    margin-right: 14px; 
}

.hebergement{
    border-radius: 10px;
    background-color:#F2F2F2;
    width: 70%;
    margin-bottom: 20px;
    margin: 0;
    padding: 0 18px;
    margin-right: 30px;
}

.color img{
    border-radius: 14px 14px 0px 0px;
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.chambre{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.color{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    margin: 0 40px 30px 0;
    width: calc(35% - 40px);
    transform: scale(1);
    transition: .3s;
}

.color:hover{
    transform: scale(1.08);
}

.color:nth-child(3), .color:nth-child(6){
    margin-right: 0;
}

.color h3{
    font-size: 14px;
    margin: 0;
}

.color_texte{
    margin: 5px;
}

.color p{
    font-size: 12px;
    margin: 5px 0;
}

.color i{
    color: #0065FC;
}

.global{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 100%;
}

#ancre{
    padding: 30px 0;
    font-size: 20px;
}

.phrase{
    font-size: 20px;
}
/* Fin des hébergements à Marseille */
.cote{
    background-color:#F2F2F2;
    width: 30%;
    border-radius: 10px;
    padding: 29px 18px 0 18px;
}

.blanc img{
    height: 120px;
    width: 32%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.blanc{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin: 0 0 30px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition: .3s;
}

.blanc:hover{
    transform: scale(1.08);
}

.blanc_dark h3{
    font-size: 13px;
    margin-bottom: 15px;
}


.fa-star{
    font-size: 12px;
}

.phrase_icon{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.blanc_dark{
    padding: 10px 10px 0 10px;
}

.blanc i{
    color: #0065FC
}

.non i {
    color: #F2F2F2 ;
}

.blanc p{
    font-size: 12px;
}

.margin{
    margin-bottom: 40px;
}

.margine{
    margin-bottom: 30px;
}

.padding{
    margin-bottom: 24px;
}

.fa-chart-line{
    font-size: 20px;
}
/* Fin des hébergements */
/* Début des activictés à Marseille */

#marseille{
    padding: 50px 0 20px 4px;
    font-size: 20px;
}

.activite{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

.act_photo{
    background-color: white;
    border-radius: 20px;
    box-shadow : 5px  5px  5px  rgba( 0 ,  0 ,  0 ,  .2 );
    width: 100%;
    transform: scale(1);
    transition: .3s;
}

.act_photo img{
    border-radius: 20px 20px 0 0;
}

.taille1{
    height: 423px;
    width: 100%;
    object-fit: cover;
}
/* Bloc de 4 images */

.bloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.act_photo:hover{
    transform: scale(1.08);
}

.bloc:first-child{
    padding-left: 0;
}

.taille2{
    height: 185px;
    width: 100%;
    object-fit: cover;
}

.taille3{
    height: 141px;
    width: 100%;
    object-fit: cover;
}

.taille5{
    height: 141px;
    width: 100%;
    object-fit: cover;
}

.taille6{
    height: 181px;
    width: 100%;
    object-fit: cover;
}

/* Fin des blocs à 4 images */

/* Paragraphe des images */

.classement{
    margin: 14px 0 0 20px;
    height: 36px;
    font-weight: bold;
}
